<div class="content">
    <div class="row">
          <div class="col">
            <div class="text">
                <img src="/assets/logo2.png">
                <h1 class="n1">BMS Bank</h1>
                <h4 class="slogan">Banking made easy...</h4>
            </div>
          </div>
          <div class="col">
        <div class="login-box"> 
            <div class="box">
                <h1 style="color:#0593BC;">Reset Password</h1><hr>
                <form #loginForm="ngForm" (ngSubmit)="resetPassword(loginForm.value)">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="password" class="form-control" placeholder="New Password" aria-label="newpassword" aria-describedby="basic-addon1" name="NewPassword" ngModel>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="password" class="form-control" placeholder="Confirm Password" aria-label="confpassword" aria-describedby="basic-addon1" name="ConfirmPassword" ngModel>
                      </div>
                      <div [ngClass]="response.Status==200?'success':'fail'">
                        <p>{{Message}}</p>
                      </div> 
                      <div class="button">
                        <input type="submit" class="btn" value="Reset Password">
                      </div>
                </form>
            </div>    
        </div>
          </div>
        </div>
    </div>